@{
    ViewData["Title"] = "Dashboard";
    Layout = "Shared/_DashboardLayout";
}

<div class="text-center">
    <h5 class="display-6">Welcome to the Health Report System</h5>
    <p>Select an option from the sidebar to get started.</p>
</div>