@{
    ViewData["Title"] = "Dashboard";
    Layout = "Shared/_DashboardLayout";
}

<div class="text-center mt-5">
    <h5 class="display-6">Welcome to the One Health Report Generation System</h5>
    <h6>Select an option from the sidebar to get started.</h6>
</div>